<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Order Confirmation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            table, table td, table th {
                border-collapse: collapse;
                border: 1px solid black;
            }

            table td, table th {
                padding: 5px 10px;
            }

        </style>    
    </head>
    
    <body style="text-align: center;">

        <h1 style="font-weight: bold;">Ordem de Serviço</h1>

        <h2>
            ID número: <span th:text="${ordem.id}"> </span>
        </h2>

        <h2>Detalhes do pedido:</h2>

        <table>

            <tr>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Tipo do Equipamento</th>
                <th>Avaria</th>
                <th>Imagem</th>
            </tr>
            
            <tr th:each="equipamento : ${equipamentos}">
                <td th:text="${equipamento.modelo}"></td>
                <td th:text="${equipamento.marca}"></td>
                <td th:text="${equipamento.classificacaoDoProduto}"></td>
                <td th:text="${equipamento.avarias}"></td>
                <td th:text="${equipamento.imagemUrl}"></td>
            </tr>
            
            <div>
                <span>
                    Valor total de serviço:
                </span>
                <span>R$</span><span th:text="${#numbers.formatDecimal(ordem.valor, 0, 'POINT', 2, 'COMMA')}"></span>
            </div>
        </p>

        <p>
            Cliente:
            <span th:text="${ordem.cliente.nome}"></span>
        </p>

        <p>
            Foto da Avaria retirada pelo Técnico:
        <form action="#" th:action="${urlFoto}" method="get">
            <imput type="submit" value="Visualizar foto"/>
        </form>
    </p> 


    <p>Status da sua ordem de servico: <span th:text="${ordem.status.getDescricao()}"></span></p>

    <form action="#" th:action="${url}" method="post">
        <input type="submit" value="Aprovar Ordem"/>
    </form>

    <form action="#" th:action="${url2}" method="post">
        <input type="submit" value="Recusar Ordem"/>
    </form>


    <p>Caso desejar realizar alguma alteração, entre em contato em contato com a empresa prestadora do serviço</p>
</body>
</html>
