<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Order Confirmation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="text-align: center;">

        <h1 style="font-weight: bold;">Ordem de Serviço</h1>

        <h2>
            ID número: <span th:text="${ordemdeservico.id}"> </span>
        </h2>
            Equipamento(s):
            
        <a><span th:text="${listIdEq}"></span></a>
        <a><span th:text="${listImagemEq}"></span></a>
            
        </p>
        
        <p>
            Cliente:
            <span th:text="${ordemdeservico.cliente.nome}"></span>
        </p>

<p>
    Foto da Avaria retirada pelo Técnico:
<form action="#" th:action="${urlFoto}" method="get">
    <imput type="submit" value="Visualizar foto"/>
</form>
</p> 


<p>Status da sua ordem de servico: <span th:text="${ordemdeservico.status.getDescricao()}"></span></p>

<form action="#" th:action="${url}" method="post">
    <input type="submit" value="Aprovar Ordem"/>
</form>

<form action="#" th:action="${url2}" method="post">
    <input type="submit" value="Recusar Ordem"/>
</form>


<p>Caso desejar realizar alguma alteração, entre em contato em contato com a empresa prestadora do serviço</p>
</body>
</html>
