<html>
  <div id="root">
    <div class="jumbotron">
      <a href="#/homepage" class="mainbtn">    HomePage</a><br /><br />
      <h4 ng-bind="app" class="titleOfTheScreen"></h4>
      <br />
      <div class="centerIt">
        <br />
        <h3>Cliente Id:</h3>
        <br />
        <input
          type="number"
          min="1"
          class="max250 centerIt"
          ng-model="ordemDeServicoDTO.clienteId"
          placeholder="ID Cliente"
        /><br>
        <button class="btn btnTiny" ng-click="encontrarCliente(ordemDeServicoDTO.clienteId)">
          Encontrar
        </button><br><br>
        {{cliente.nome}}
        <br /><br /><br />
        <h3>Equipamentos</h3>
        <br />
        <div
          ng-repeat="equipamento in ordemDeServicoDTO.equipamentos"
          class="eq centerIt"
        >
          <br />
          <label>Numero de identificação:</label><br />
          <h3>{{equipamento.id}}</h3>
          <br /><br />
          <label>Modelo:</label><br />
          <input type="text" class="size450" ng-model="equipamento.modelo" />
          <br /><br />
          <label>Marca:</label><br />
          <input type="text" class="size450" ng-model="equipamento.marca" />
          <br /><br />
          <label>Tipo do Produto:</label><br />
          <input
            type="text"
            class="size450"
            ng-model="equipamento.classificacaoDoProduto"
          />
          <br /><br />
          <label>Avarias:</label><br />
          <input type="text" class="size450" ng-model="equipamento.avarias" />
          <br /><br />
        </div>
        <br />
        <h3>Status da Ordem</h3>
        <br />
        <select ng-model="ordemDeServicoDTO.status">
          <option value="0">Pendente</option>
          <option value="1">Aguardando Cliente</option>
          <option value="3">Concluída</option>
        </select>
        <br />
        <br />
        <div class="centerIt">
          <h3>Valor do Serviço:</h3>
          <br />
          <input
            type="text"
            class="max 225 centerItf"
            ng-model="ordemDeServicoDTO.valor"
          /><br /><br />
        </div>
        <br />
      </div>
      <br />
      <button
        ng-click="putOrdemDeServico(ordemDeServicoDTO, idOrdem)"
        class="btn centerIt"
      >
        Alterar
      </button>
    </div>
  </div>
</html>
