<html>
  <div id="root">
    <div class="jumbotron">
      <h4 ng-bind="app" class="titleOfTheScreen"></h4>
      <br />
      <div class="centerIt">
        <br />
        <h3>Cliente Id:</h3><br />
        <input
          type="number"
          class="max350 centerIt"
          ng-model="ordemDeServico.clienteId"
          placeholder="ID Cliente"
        /><br />
        <!-- <button class="btn btnTiny" ng-click="onAdicionarCliente(clienteId)">
          Adicionar cliente
        </button> -->
        <br /><br />
        <h3>Equipamentos</h3><br>
        <div
          ng-repeat="equipamento in ordemDeServico.equipamentos"
          class="eq centerIt"
        >
        
          <br />
          <label>Modelo:</label><br />
          {{equipamento.modelo}}
          <br /><br />
          <label>Marca:</label><br />
          {{equipamento.marca}}
          <br /><br />
          <label>Tipo do Produto:</label><br />
          {{equipamento.classificacaoDoProduto}}
          <br /><br />
          <label>Avarias:</label><br />
          {{equipamento.avarias}}
          <br /><br />
          <a class="btn btnTiny" href="#/alterarequipamento/{{equipamento.id}}">Alterar Este Equipamento</a>
          <br><br>
        </div>
        <br>
        <h3 >Status da Ordem</h3><br>
        <select ng-model="ordemDeServico.status">
            <option value="0">Pendente</option>
            <option value="1">Aguardando Cliente</option>
            <option value="3">Concluída</option>
        </select>
        <br>
        <br />
        <div class="centerIt">
          <h3>Valor do Serviço:</h3>
          <br />
          <input
            type="text"
            class="max 225 centerItf"
            ng-model="ordemDeServico.valor"
          /><br /><br />
          <!-- <button ng-click="onAdicionarValor(valor)" class="btn btnTiny">
            Adicionar valor
          </button> -->
        </div>
        <br />
      </div>
      <br />
      <button
        ng-click="putOrdemDeServico(ordemDeServico)"
        class="btn centerIt"
      >
        Alterar
      </button>
    </div>
  </div>
</html>
