<html>
  <div id="root">
    <div class="jumbotron">
      <h4 ng-bind="app" class="titleOfTheScreen"></h4>
      <br />
      <div class="centerIt">
        <br />
        <label>Cliente Id:</label><br />
        <input
          type="number"
          class="max350 centerIt"
          ng-model="ordemDeServico.cliente.id"
          placeholder="ID Cliente"
        /><br />
        <!-- <button class="btn btnTiny" ng-click="onAdicionarCliente(clienteId)">
          Adicionar cliente
        </button> -->
        <br /><br />
        <label>Equipamentos</label>
        <div
          ng-repeat="equipamento in ordemDeServico.equipamentos"
          class="eq centerIt"
        >
          <br /><br />
          <label>Modelo:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.modelo"
            placeholder="Modelo"
          />
          <br /><br />
          <label>Marca:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.marca"
            placeholder="Marca"
          />
          <br /><br />
          <label>Tipo do Produto:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.classificacaoDoProduto"
            placeholder="Tipo do Equipamento"
          />
          <br /><br />
          <label>Avarias:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.avarias"
            placeholder="Avarias"
          /><br /><br />
          <!-- <button
            class="btn btnTiny"
            ng-click="onAdicionarEquipamento(equipamento)"
          >
            Adicionar equipamento
          </button> -->
        </div>
        <br>
        <label >Status da Ordem</label><br>
        <select ng-model="ordemDeServico.status">
            <option value="0">Pendente</option>
            <option value="1">Aguardando Cliente</option>
            <option value="3">Concluída</option>
        </select>
        <br>
        <br />
        <div class="centerIt">
          <label>Valor do Serviço:</label>
          <br />
          <input
            type="text"
            class="max 225 centerItf"
            ng-model="ordemDeServico.valor"
          /><br /><br />
          <!-- <button ng-click="onAdicionarValor(valor)" class="btn btnTiny">
            Adicionar valor
          </button> -->
        </div>
        <br />
      </div>
      <br />
      <button
        ng-click="putOrdemDeServico(ordemDeServico)"
        class="btn centerIt"
      >
        Alterar
      </button>
    </div>
  </div>
</html>
