<div id="root">
    <div class="jumbotron">
        <h3 class="centerIt">Formulário de alteração de dados cadastrais de clientes</h3>
        
        <div class="centerIt">
            
            <input type="number" class="centerIt" ng-model="clienteId" placeholder="Id">
            <button class="btn btnTiny centerIt" ng-click="findClienteById(clienteId)">Carregar o Cliente</button>
        </div>

        <form class="centerIt">

            <input type="text" class="max225 centerIt" ng-model="cliente.nome" placeholder="Nome"><br>
            <input type="text" class="max225 centerIt" ng-model="cliente.email" placeholder="Email"><br>
            <input type="text" class="max225 centerIt" ng-model="cliente.telefone" placeholder="Telefone">
            <input type="text" class="max225 centerIt" ng-model="cliente.endereco" placeholder="Endereço">
        </form>
        <br>

        <button class="btn btnTiny centerIt" ng-click="putCliente(cliente)">Alterar Cliente</button>
        <a class="btn btnTiny centerIt" href="#/clientes">Voltar</a>
    </div>
</div>