<div id="root">
  <div class="jumbotronSmall">
    <h3 class="centerIt">Escolha o que deseja fazer</h3>
    <a class="centerIt" href="#/login">
      <input class="centerIt paddingHome" type="button" value="Login" />
    </a>
    <a class="centerIt" href="#/clientes">
      <input class="centerIt paddingHome" type="button" value="Clientes" />
    </a>
    <a class="centerIt" href="#/funcionarios">
      <input class="centerIt paddingHome" type="button" value="Funcionarios" />
    </a>
    <a class="centerIt" href="#/ordemdeservicos">
      <input class="centerIt paddingHome" type="button" value="Ordem De Serviços" />
    </a>
  </div>
</div>