<html>
  <div id="root">
    <div class="jumbotron">
      <a href="#/homepage" class="mainbtn">    HomePage</a><br><br>
      <h4 ng-bind="app" class="titleOfTheScreen"></h4>
      <br />
      <div class="centerIt">
        <br />
        <label>Cliente Id:</label><br />
        <input
          type="number"
          class="max350 centerIt"
          ng-model="clienteId"
          placeholder="ID Cliente"
        /><br />
        <button class="btn btnTiny" ng-click="onAdicionarCliente(clienteId)">
          Adicionar cliente
        </button>
        <br /><br />
        <div class="eq centerIt">
          <br />
          Equipamento(s):
          <br /><br />
          <label>Modelo:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.modelo"
            placeholder="Modelo"
          />
          <br /><br />
          <label>Marca:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.marca"
            placeholder="Marca"
          />
          <br /><br />
          <label>Tipo do Produto:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.classificacaoDoProduto"
            placeholder="Tipo do Equipamento"
          />
          <br /><br />
          <label>Avarias:</label><br />
          <input
            type="text"
            class="max350 centerIt"
            ng-model="equipamento.avarias"
            placeholder="Avarias"
          /><br /><br />
          <button
            class="btn btnTiny"
            ng-click="onAdicionarEquipamento(equipamento)"
          >
            Adicionar equipamento
          </button>
          <br /><br />
        </div>
        <br />
        <div class="centerIt">
          <label>Valor do Serviço:</label><br />
          <input
            type="text"
            class="max 225 centerItf"
            ng-model="valor"
          /><br /><br />
          <button ng-click="onAdicionarValor(valor)" class="btn btnTiny">
            Adicionar valor
          </button>
        </div>
        <br />
      </div>
      <br />
      <button
        ng-click="postOrdemDeServico(ordemDeServicoDTO)"
        class="btn centerIt"
      >
        Inserir ordem
      </button>
      <br />
      <div
        class="eq centerIt"
        ng-repeat="equipamento in ordemDeServicoDTO.equipamentos"
      >
        <br />
        <h5>Equipamento Adicionado</h5>
        <br />
        <h5>Modelo:</h5>
        <p>{{equipamento.modelo}}</p>
        <br />
        <h5>Marca:</h5>
        <p>{{equipamento.marca}}</p>
        <br />
        <h5>Tipo do equipamento:</h5>
        <p>{{equipamento.classificacaoDoProduto}}</p>
        <br />
        <h5>Avarias:</h5>
        <p>{{equipamento.avarias}}</p>
        <br />
      </div>
    </div>
  </div>
</html>