<div id="root">
    <div class="jumbotronTiny">
      <h3 class="centerIt">
        Entre com Seu Login de Funcionário
      </h3>
      <form class="centerIt"></form><br>
      <label class="centerIt">Email:</label>
        <input
          type="text"
          class="max350 centerIt"
          ng-model="login.email"
          placeholder="Email"
        /><br /><br />
        <label class="centerIt">Senha:</label>
        <input
          type="password"
          class="max350 centerIt"
          ng-model="login.senha"
          placeholder="Senha"
        /><br /><br />
      </form>
      <br />
  
      <button class="btn btnTiny centerIt" ng-click="fazerLogin(login)">
        Entrar
      </button>
    </div>
  </div>
  