<html>
  <div id="root">
    <div class="jumbotron">
      <a href="#/homepage" class="mainbtn">    HomePage</a><br /><br />
      <h4 ng-bind="app" class="titleOfTheScreen"></h4>
      <br />
      <div>
        <h6>
          você pode clicar no cliente da ordem para fácil vizualização dos dados
        </h6>
        <br />
        <div>
          <input
            type="number"
            min="1"
            class="centerIt"
            ng-model="ordemId"
            placeholder="Id"
          />
          <a
            class="btn btnTiny centerIt"
            id="redirectBtns"
            href="#/ordemdeservicos/find/{{ordemId}}"
            >Encontrar</a
          >
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="max100">Id</th>
              <th>Nome</th>
              <th class="max225">Valor</th>
              <th class="max225">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ordemDeServico in ordemDeServicos">
              <td class="max100">{{ordemDeServico.id}}</td>
              <td>
                <a
                  class="hoverName"
                  href="#/ordemdeservicos/find/{{ordemDeServico.id}}"
                  >{{ordemDeServico.cliente.nome}}</a
                >
              </td>
              <td class="max225">{{ordemDeServico.valor | currency}}</td>
              <td class="max225">{{ordemDeServico.status}}</td>
            </tr>
          </tbody>
        </table>
        <br />
        <a class="btn centerIt" href="#/ordemdeservicos/inserirordem"
          >Adicionar nova Ordem</a
        >
      </div>
    </div>
  </div>
</html>
